
user  root;
worker_processes  1;

#error_log  logs/error.log;
#error_log  logs/error.log  notice;
#error_log  logs/error.log  info;

#pid        logs/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include       mime.types;
    default_type  application/octet-stream;

    #log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
    #                  '$status $body_bytes_sent "$http_referer" '
    #                  '"$http_user_agent" "$http_x_forwarded_for"';

    #access_log  logs/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    #keepalive_timeout  0;
    keepalive_timeout  65;

    gzip  on;
	server {
        listen 80;
        server_name pay.dodolook.com;
        location / {
			proxy_pass  http://192.168.1.3:8008;
            proxy_redirect default;
	  proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header REMOTE-HOST $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }

    server {
        listen 80;
        server_name shop.dodolook.com;
        location / {
			proxy_pass  http://192.168.1.3:8014;
            proxy_redirect default;
		proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header REMOTE-HOST $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }
	 server {
        listen 80;
        server_name plat.dodolook.com;
        location / {
                        proxy_pass  http://192.168.1.3:8016;
            proxy_redirect default;
	proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header REMOTE-HOST $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }
    server {
        listen 80;
        server_name plat2.dodolook.com;
        location / {
                        proxy_pass  http://192.168.1.3:8026;
            proxy_redirect default;
	proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header REMOTE-HOST $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }

	server {
        listen 80;
        server_name manu.dodolook.com;
        location / {
	    proxy_pass  http://192.168.1.3:8012;
            proxy_redirect default;
		proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header REMOTE-HOST $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }
	server {
        listen 80;
        server_name solr.dodolook.com;
        location / {
	    proxy_pass  http://192.168.1.3:8022/solr/index.html;
            proxy_redirect default;
		proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header REMOTE-HOST $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }

        server {
        listen 80;
        server_name dodolook.com;
        location /api-user {
            proxy_pass  http://192.168.1.3:8010;
            proxy_redirect default;
		proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header REMOTE-HOST $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
        }


	server {
        listen 80;
        server_name www.dodolook.com;
		
		location ~ ^/favicon\.ico$ {

        root    /tomcat_home/PCB2B/webapps/PCB2B/jsp/img;
    }
		
        location / {
            proxy_pass http://192.168.1.3:8020/PCB2B/jsp/;
	    proxy_cookie_path ~*^/.* /;
	proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header REMOTE-HOST $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        }

	location /B2BInterface{
            proxy_pass http://192.168.1.3:8020/B2BInterface/;
            proxy_cookie_path ~*^/.* /;
        proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header REMOTE-HOST $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        }
	location /DisInterface{
            proxy_pass http://192.168.1.3:8010/DisInterface;
            proxy_cookie_path ~*^/.* /;
        proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header REMOTE-HOST $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        }
	location /B2B {
            proxy_pass http://192.168.1.3:8030/PCB2B/jsp/;
	    proxy_cookie_path ~*^/.* /;
	proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header REMOTE-HOST $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        }


	location /WXHtml{
           proxy_pass http://192.168.1.3:8010;
            proxy_redirect default;
		proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header REMOTE-HOST $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

  location /WX2.0{
           proxy_pass http://192.168.1.3:8010;
            proxy_redirect default;
                proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header REMOTE-HOST $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }


        location /WXB2B{
          root /tomcat_home/B2B_WECHAT/webapps;
        }

        location /WXMall{
          root /tomcat_home/STATIC;
        }
	
	 location /Apply{
          root /tomcat_home/STATIC;
        }


	 location /api-user-b2b{
          proxy_pass http://192.168.1.3:8024/api-user-b2b/;
          proxy_redirect default;
		proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header REMOTE-HOST $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
	 location /api-item-b2b{
          proxy_pass http://192.168.1.3:8024/api-item-b2b/;
          proxy_redirect default;

	proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header REMOTE-HOST $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
        location /api-user{
           proxy_pass http://192.168.1.3:8010;
            proxy_redirect default;
		proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header REMOTE-HOST $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
        location /api-item{
           proxy_pass http://192.168.1.3:8010;
            proxy_redirect default;

	proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header REMOTE-HOST $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
		location /pm {
			proxy_pass  http://192.168.1.3:8030/pm;
            proxy_redirect default;
			  proxy_set_header Host $host;
			  proxy_set_header X-Real-IP $remote_addr;
			  proxy_set_header REMOTE-HOST $remote_addr;
			  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
		 location /di {
			proxy_pass  http://192.168.1.3:8030/di;
            proxy_redirect default;
			  proxy_set_header Host $host;
			  proxy_set_header X-Real-IP $remote_addr;
			  proxy_set_header REMOTE-HOST $remote_addr;
			  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }
	server {
        listen 80;
        server_name res.dodolook.com;
        location / {
          root /tomcat_home/R/webapps/;
          autoindex on;
        }
    }
	server {
        listen 80;
        server_name wechatc.dodolook.com;
        location / {
          # proxy_pass  http://192.168.1.3:8010;
          # proxy_redirect default;
	        # proxy_set_header Host $host;
          # proxy_set_header X-Real-IP $remote_addr;
          # proxy_set_header REMOTE-HOST $remote_addr;
          # proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          root /tomcat_home/STATIC/WXB2C;
          try_files $uri $uri/ /index.html;
        }
    }
	server {
        listen 80;
        server_name wechatb.dodolook.com;
        location / {
          # proxy_pass  http://192.168.1.3:8024;
          # proxy_redirect default;
          # proxy_set_header Host $host;
          # proxy_set_header X-Real-IP $remote_addr;
          # proxy_set_header REMOTE-HOST $remote_addr;
          # proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          root /tomcat_home/STATIC/WXB2B;
          try_files $uri $uri/ /index.html;
        }
    }

  server {
        listen 80;
        server_name test.dodolook.com;
        location / {
          # proxy_pass  http://192.168.1.3:8024;
          # proxy_redirect default;
          # proxy_set_header Host $host;
          # proxy_set_header X-Real-IP $remote_addr;
          # proxy_set_header REMOTE-HOST $remote_addr;
          # proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          root /tomcat_home/STATIC/WXTEST;
          try_files $uri $uri/ /index.html;
        }
		 
    }
	 server {
        listen 80;
        server_name baby.dodolook.com;
        location / {
            proxy_pass  http://192.168.1.3:8018;
            proxy_redirect default;
        }
    }



    # another virtual host using mix of IP-, name-, and port-based configuration
    #
    #server {
    #    listen       8000;
    #    listen       somename:8080;
    #    server_name  somename  alias  another.alias;

    #    location / {
    #        root   html;
    #        index  index.html index.htm;
    #    }
    #}


    # HTTPS server
    #
    #server {
    #    listen       443 ssl;
    #    server_name  localhost;

    #    ssl_certificate      cert.pem;
    #    ssl_certificate_key  cert.key;

    #    ssl_session_cache    shared:SSL:1m;
    #    ssl_session_timeout  5m;

    #    ssl_ciphers  HIGH:!aNULL:!MD5;
    #    ssl_prefer_server_ciphers  on;

    #    location / {
    #        root   html;
    #        index  index.html index.htm;
    #    }
    #}

}
